@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: para;
  src: url("fonts/Gabarito-Medium.ttf");
}
@font-face {
  font-family: Gabarito;
  src: url("fonts/Gabarito-Medium.ttf");
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #f9fafc;
  --forground: #111110;
  --range-fill: theme(--color-neutral-900);
  --range-track: theme(--color-neutral-400);
}

.dark {
  --background: var(--color-black);
  --background: #f9fafc;
  --range-fill: theme(--color-neutral-400);
  --range-track: theme(--color-neutral-900);
}

@theme inline {
  --breakpoint-xs: 425px;
  --breakpoint-max: 1130px;
  --breakpoint-maxTwo: 1040px;
  --breakpoint-input: 535px;
  --color-background: var(--background);
  --color-forground: var(--forground);
  --font-text: para, sans-serif;
  --font-main: Gabarito, sans-serif;
  --font-Adjust: Inconsolata, sans-serif;
  --font-inter: Inter, sans-serif;
}
html {
  scroll-behavior: smooth;
}
